.header {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 16px 0;
}

.header_con {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_property_logo {
  display: flex;
  gap: 35px;
  align-items: center;
}

.header_links {
  display: flex;
  gap: 40px;
  color: #6a6a6a;
  font-size: 16px;
  font-weight: 500;
  font-family: inter-regular;
}

.header_link_more {
  display: flex;
  gap: 13px;
  align-items: center;
}

.header_property_lang {
  display: flex;
  align-items: center;
  gap: 38px;
}

.header_lang_con {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header_lang_opt {
  display: flex;
  align-items: center;
  position: absolute;
}

.header_lang {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header_lang_name {
  font-size: 18px;
  font-weight: 500;
  font-family: inter-regular;
  color: #1b1f3b;
  margin-left: 8px;
  margin-right: 14px;
}

.header_profile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header_profile_img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: black;
}

.header_profile_name_con {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.header_profile_name {
  font-size: 20px;
  font-weight: 500;
  font-family: inter-regular;
  color: #1b1f3b;
}
