.sub {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  margin-bottom: 150px;
  padding-right: 20px;
}

.sub_container {
  display: flex;
  align-items: center;
  gap: 66px;
  max-width: 1280px;
}

.sub_img {
  width: 100%;
  max-width: 754px;
  border-radius: 0px 20px 20px 0px;
  height: 615px;
  background-color: black;
}

.sub_form_con {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-right: 20px;
}

.sub_form_title {
  font-weight: 700;
  font-size: 48px;
  font-family: cur-bold;
  line-height: 100%;
}

.sub_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

.sub_form_input {
  width: 100%;
  max-width: 442px;
  border: 1px solid #6a6a6a;
  outline: none;
  padding: 22px 23px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 400;
}

.sub_form_input::placeholder {
  font-size: 18px;
  font-weight: 400;
}

.sub_form_btn {
  background-color: #fcb13f;
  width: 100%;
  max-width: 441px;
  padding: 22px 0;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  font-size: 32px;
  font-family: cur-bold;
}

.sub_form_agreement {
  font-family: inter-regular;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (max-width: 992px) {
  .sub_container {
    gap: 23px;
  }

  .sub_img {
    height: 511px;
  }

  .sub_form_title {
    font-size: 42px;
  }

  .sub_form_btn {
    font-size: 32px;
  }

  .sub_form_agreement {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .sub_form_con {
    padding-left: 20px;
  }

  .sub_container {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 576px) {
  .sub_form_title {
    font-size: 32px;
  }

  .sub_form_input::placeholder {
    font-size: 15px;
  }

  .sub_form_agreement {
    font-size: 11px;
  }

  .sub_form_btn {
    font-size: 24px;
  }
}
